<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	<typeAliases>
 		<typeAlias alias="BoardDTO" type="kr.co.dong.board.BoardDTO"/>
 		<typeAlias alias="BoardReply" type="kr.co.dong.board.BoardReply"/>
 		<typeAlias alias="deliveryDTO" type="kr.co.dong.delivery.DeliveryDTO"/>
 		<typeAlias alias="ManagementDTO" type="kr.co.dong.delivery.ManagementDTO"/>
 		 <typeAlias alias="ProductDTO" type="kr.co.dong.Product.ProductDTO" />
 		 <typeAlias alias="UserDTO" type="kr.co.dong.user.UserDTO"/>
 		 <typeAlias alias="ImgDTO" type="kr.co.dong.ImgDTO"/>
 		 <typeAlias alias="PagingPVO" type="kr.co.dong.Product.PagingPVO"/>
 		 <typeAlias alias="PagingUVO" type="kr.co.dong.user.PagingUVO"/>
 		 <typeAlias alias="PagingSortPVO" type="kr.co.dong.Product.PagingSortPVO"/>
 		 <typeAlias alias="CartDTO" type="kr.co.dong.cart.CartDTO"/>
 		 <typeAlias alias="OrderDTO" type="kr.co.dong.order.OrderDTO"/>
 		  <typeAlias alias="ProductReply" type="kr.co.dong.Product.ProductReply"/>
 		  <typeAlias alias="ChatroomDTO" type="kr.co.dong.chat.ChatroomDTO"/>
 		  <typeAlias alias="FriendDTO" type="kr.co.dong.user.FriendDTO"/>
 	</typeAliases>
 </configuration>